<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Library</title>

    <link href="/styles/main.css" rel="stylesheet" />
</head>

<body>
    <h1>component library</h1>
    <p>I am attending neog.camp and making this library so can create good portfolio.
    </p>

    <hr>


    <h2>@typography</h2>

    <h1>This is the biggest heading</h1>
    <h2>This is the second biggest</h2>
    <p> Let me show you the normal text. This is free flowing and will wrap at the end like a paragraph. </p>
    <p>This paragraph will have a <strong>bold</strong> text</p>
    <small>This is relatively smaller text</small>

    <hr>

    <h2>@container</h2>

    <h3>fluid container</h3>
    <div class="container">This is a fluid container and it will go till the end of the page</div>

    <h3>center container</h3>
    <div class="container container-center">This is a centered container and it will go till the specified width</div>

    <hr>

    <h2>@links</h2>

    <a class="link link-primary" href="/">Primary Link</a>
    <a class="link link-secondary"
    href="/">Secondary Link</a> <hr>

        <h2>@lists</h2>

        <h3>unordered list</h3>

        <ul class="list-non-bullet">
            <li>Item One</li>
            <li>Item Two</li>
            <li>Item Three</li>
        </ul>



        <h3> unordered inline list</h3>

        <ul class="list-non-bullet">
            <li class="list-item-inline">Inline Item One</li>
            <li class="list-item-inline">Inline Item Two</li>
            <li class="list-item-inline">Inline Item Three</li>
        </ul>

        <h3> reverse ordered list</h3>

        <ol reversed>
            <li>milk</li>
            <li>eggs</li>
            <li>break</li>
        </ol>

        <hr />

        <h2>@nav</h2>

        <nav class="navigation container">
            <div class="nav-brand">iAmBrand</div>
            <ul class="list-non-bullet nav-pills">
                <li class="list-item-inline
        ">
                    <a class="link link-active" href="/">home</a>
                </li>
                <li class="list-item-inline
        ">
                    <a class="link" href="/">products</a>
                </li>
                <li class="list-item-inline
        ">
                    <a class="link" href="/">about</a>
                </li>
            </ul>
        </nav>

        <hr>

        <h2>@header</h2>

        <header class="hero">
            <img class="hero-img" src="/img/header_logo.svg" />
            <h1 class="hero-heading">heading inside <span class="heading-inverted">header</span></h1>
        </header>

        <hr>
        <h2>@section</h2>
        <section class="section">
            <div class="container container-center">
                <h1>white section</h1>
            <p>This will have white background. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur sunt iure quidem possimus, cum consequuntur, pariatur molestiae molestias animi quos quisquam ratione! Nisi, quas fugit?</p>
            </div>
        </section>

        <section class="section off">
            <div class="container container-center">
                <h1>off white section</h1>
            <p>This will have gray background. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deserunt architecto eaque minus, aut perspiciatis incidunt. Excepturi tempore vitae obcaecati nostrum quo velit aliquid sint aliquam repudiandae, dolor molestias sunt.</p>
            </div>
        </section>

        <hr>

        <h2>@footer</h2>

        <footer class="footer">
            <div class="footer-header">Some small heading inside footer</div>
            <ul class="social-links list-non-bullet">
                <li class="list-item-inline"><a href="/" class="link">SocialOne</a></li>
                <li class="list-item-inline"><a href="/" class="link">SocialTwo</a></li>
                <li class="list-item-inline"><a href="/" class="link">SocialThree</a></li>
                
            </ul>
        </footer>


</body>

</html>